body { 
    background-color:yellow;
}

@font-face {
    font-family:'dap';
    src: url('dap.woff') format('woff');
}

@font-face {
    font-family: 'kilo';
    src: url('Kilo.woff') format('woff');
}

@font-face {
    font-family: 'road';
    src: url('Roadam.woff') format('woff');
}

@font-face {
    font-family:'giga';
    src: url('Giga.woff') format('woff');
}

div.poster {    
    background-color: yellow;
    width:75%;
    border-radius: 80px;
    margin-left: 200px;
}   

div.text {  
    font-size:120px;
    font-family: 'dap';
    text-align:center;
    color:blue;
    transition: 0.5s;

}

/* rule 1 */

div.text.one {
    font-size:60px;
    font-family: 'kilo';
}

div.text.two {
    font-size: 80px;
    font-family: 'giga';
}

div.text.three {
    font-size: 150px;
    font-family: 'road';
}

/* rule 2 */

div.text.a {
    color: yellow;
    font-weight: 200;
}

div.text.b {
    color: blue;
    font-weight: 500;
}

div.text.c {
    color: yellow;
    font-weight: 700;
}

/* rule 3 */

div.text.x {
    text-align: left;
    background-color: blue;
    border-radius: 200px;
    width: 90%;
}

div.text.y {
    text-align: center;
    background-color: yellow;
}

div.text.y {
    text-align: right;
    background-color: yellow;
}

div.small { 
    font-size: 25px;
    font-family:monospace;
    text-align:center;
    color:blue;
}