body { 
    background-color: olive;
}

div.poster {    
    background-color: white;
    width:75%;
    border-radius: 600px;
    margin-left: 200px;
}   

div.text {  
    font-size:120px;
    font-family: Arial, Helvetica, sans-serif;
    text-align:center;
    color:blue;
    transition: 0.5s;

}

/* rule 1 */

div.text.one {
    font-size:30px;
    color: blue;
}

div.text.two {
    font-size: 60px;
}

div.text.three {
    font-size: 90px;
}

/* rule 2 */

div.text.a {
    color: brown;
}

div.text.b {
    color: yellowgreen;
}

div.text.c {
    color: purple;
}

/* rule 3 */

div.text.x {
    text-align: left;
}

div.text.y {
    text-align: center;
}

div.text.y {
    text-align: right;
}

div.small { 
    font-size:15px;
    font-family:Arial, Helvetica, sans-serif;
    text-align:center;
    color:blue;
}