body {
    background-color: black;
    color:white;
    font-size: 30px;
    font-family: arial;
}

img {
    width: 100%;
}

div.text {
    padding-top: 400px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

div.main {
    position: relative;
}

a { 
    color:white;
    text-decoration:none;
}

a:hover {   
    box-shadow: 0px 0px 40px 15px white;
    border-radius: 300px;
    

}



div.about {
    font-family:Arial, Helvetica, sans-serif;
    font-size:30px;
    color: white;
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
    text-align: center;
    width: 1000px;
    height: 200px;
    margin-left:auto;
    margin-right:auto;

}

div.video { 
   width: 100%;
   height: auto;
}

/* Navigation start */

div.prayingright {   
    margin-left:auto;
    width:100px;
    height:100px;
    position:fixed;
    right:0;
    top:50%;
    z-index: 3;
}

div.prayingleft {   
    margin-right:auto;
    width:100px;
    height:100px;
    position:fixed;
    left:0;
    top:50%;
    z-index:3;
}

div.handsright {    
    margin-right:auto;
    width:100px;
    height:100px;
    position:fixed;
    right:0;
    top:62%;
    z-index: 3;
}

div.handsleft { 
    margin-left:auto;
    width:100px;
    height:100px;
    position:fixed;
    left:0;
    top:62%;
    z-index: 3;
}

div.pointright {    
    margin-right:auto;
    width:100px;
    height:100px;
    position:fixed;
    right:0;
    top:74%;
    z-index: 3;
}

div.pointleft { 
    margin-left:auto;
    width:100px;
    height:100px;
    position:fixed;
    left:0;
    top:74%;
    z-index: 3;
}

div.back {  
    width:100px;
    height:100px;
    margin-bottom:auto;
    bottom:0;
    z-index: 3;
    margin-left: auto;
    margin-right: auto;
    padding-top: 300px;
}

/* navigation end */


div.navigation a { 
    color:white;
    text-decoration:none;
    box-shadow:0px 0px 0px 0px transparent;
}

div.navigation a:hover {   
    border-radius: 0px;
    background-color: transparent;
}
div.navigation div:hover {  
    box-shadow: 0px 0px 40px 15px white;
    border-radius: 100%;
    background-color: transparent;

}



div.prayer {   
    text-align: center;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 40px;
    color: white;
    width:800px;
    margin-left:auto;
    margin-right:auto;

}

div.heading {   
    color:white;
    font-size: 60px;
    font-family: arial;
    text-align: center;
    width: 1200px;
    height: 200px;
    margin-left:auto;
    margin-right:auto;
    padding-top: 80px;
    font-style: bold;

}

div.subheading {    
    color:white;
    font-size: 40px;
    font-family: arial;
    text-align: center;
    width: 1000px;
    height: 100px;
    margin-left:auto;
    margin-right:auto;
}

/* Button Start */

div.enter { 
    display: flex;
    flex-wrap: wrap;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 30px;
    color: white;
    margin-bottom: 100px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    border: 1px solid white;
    border-radius: 300px;
    width: 300px;
    height: 65px;
}

div.enter2 {    
    display: flex;
    flex-wrap: wrap;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 30px;
    color: white;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    border: 1px solid white;
    border-radius: 300px;
    width: 300px;
    height: 65px;
}

div.enter3 {    
    display: flex;
    flex-wrap: wrap;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 30px;
    color: white;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid white;
    border-radius: 300px;
    width: 300px;
    height: 65px;
    align-items:flex-end;  

}

div.enter4 {    
    display: flex;
    flex-wrap: wrap;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 30px;
    color: white;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    border: 1px solid white;
    border-radius: 300px;
    width: 300px;
    height: 65px;
}

/* button end */

/* Column start */

div.column-topleft {
    width: 429px;
    background-image: url('images/column-top-left.png');
    height: 1027px;
    position: absolute;
    top: 0px;
    left:0px;
    z-index: 2;
    pointer-events: none;
}

div.column-topright {
    width: 429px;
    background-image: url('images/column-top-right.png');
    height: 1027px;
    position: absolute;
    top: 0px;
    right:0px;
    z-index: 2;
    pointer-events: none;
}

div.column-left {
    height: 100%;
    width:429px;
    background-image: url('images/column-left-repeat.png');
    background-repeat: repeat-y;
    position: absolute;
    left:0px;
    top:0px;
    bottom:0px;
    z-index: 1;
    pointer-events: none;
}

div.column-right {
    height: 100%;
    width:429px;
    background-image: url('images/column-right-repeat.png');
    background-repeat: repeat-y;
    position: absolute;
    right:0px;
    top:0px;
    bottom:0px;
    z-index: 1;
    pointer-events: none;
}

div.column-bottomleft {
    width: 429px;
    background-image: url('images/column-bottom-left.png');
    height: 1027px;
    position: absolute;
    bottom: 0px;
    left:0px;
    z-index: 2;
    pointer-events: none;
}

div.column-bottomright {
    width: 429px;
    background-image: url('images/column-bottom-right.png');
    height: 1027px;
    position: absolute;
    bottom: 0px;
    right:0px;
    z-index: 2;
    pointer-events: none;
}

/* column end */

div.collection {    
    display:flex;
    flex-wrap:wrap;  
    width: 70%;
    padding: 100px;
    align-items:flex-end;  
    margin-left: auto;
    margin-right: auto;
}

div.arch1 { 
    width: 400px;
    height: 400px;
    margin-right: auto;
    margin-left:auto;
}

div.arch2 { 
    width: 390px;
    height: 390px;
    margin-left: auto;
    margin-right: auto;
}

div.arch3 { 
    width: 400px;
    height: 400px;
    margin-right: auto;
    margin-left:auto;
    margin-top: 400px;
}

div.arch4 { 
    width: 400px;
    height: 420px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 400px;
}

div.arch5 { 
    width: 400px;
    height: 400px;
    margin-right: auto;
    margin-left:auto;
    margin-top: 400px;
}

div.arch6 { 
    width: 400px;
    height: 400px;
    margin-right: auto;
    margin-left:auto;
    margin-top: 400px;
}

div.arch7 { 
    width: 400px;
    height: 400px;
    margin-right: auto;
    margin-left:auto;
    margin-top: 400px;
    padding-bottom: 100px;
}

div.arch8 { 
    width: 400px;
    height: 400px;
    margin-right: auto;
    margin-left:auto;
    margin-top: 400px;
    padding-bottom: 100px;
}


div.prayicon {  
    display: flex;
    flex:wrap;
    width: 70%;
    padding-bottom:100px;
    align-items:flex-start;  
    margin-left: auto;
    margin-right: auto;
}

div.glowpray {  
    width: 500px;
    height: 500px;
    margin-left: auto;
    margin-right: auto;
}

div.glowhands { 
    width: 500px;
    height: 500px;
    margin-left: auto;
    margin-right: auto;
}

div.glowprayb { 
    width: 500px;
    height: 500px;
    margin-left: auto;
    margin-right: auto;
}

div.glowcandles {   
    display: flex;
    flex:wrap;
    width: 70%;
    padding: 20px;
    align-items:flex-start;  
    margin-left: auto;
    margin-right: auto;
}

div.gcandle {   
    width: 500px;
    height: 500px;
    margin-left: auto;
    margin-right: auto;
}
   
div.aboutb {    
    font-family:Arial, Helvetica, sans-serif;
    font-size:30px;
    color: white;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    width: 1000px;
    height: 200px;
    margin-left:auto;
    margin-right:auto;
}

/* Shrine Page Assets */

div.first { 
    display:flex;
    flex-wrap:wrap;  
    width: 400px;
    height: 400px;
    margin-left: auto;
    margin-right: auto;
}

div.glowcandlessmall {  
    display: flex;
    flex:wrap;
    width: 50%;
    padding: 20px;
    align-items:flex-start;  
    margin-left: auto;
    margin-right: auto;
    padding: 100px;

}

div.glowcandlesmall {  
    width: 200px;
    height: 200px;
    margin-left: auto;
    margin-right: auto; 
}

div.shrineicon {    
    display: flex;
    flex:wrap;
    width: 25%;
    padding: 20px;
    align-items:flex-end;  
    margin-left: auto;
    margin-right: auto;
}

div.shrineiconleft {   
    width: 200px;
    height: 200px;
    margin-left:-460px;
    right: 0;
}

div.shrineiconright {  
    width: 200px;
    height: 200px;
    margin-right:-460px;
    right: 0;
}

div.prayiconb {  
    display: flex;
    flex:wrap;
    width: 70%;
    align-items:flex-start;  
    margin-left: auto;
    margin-right: auto;
}

div.button {    
    display: flex;
    flex:wrap;
    width: 70%;
    align-items:flex-start;  
    margin-left: auto;
    margin-right: auto;
}

div.backb {  
    width:100px;
    height:100px;
    margin-bottom:auto;
    bottom:0;
    z-index: 3;
    padding-top: 50px;
    margin-left: auto;
    margin-right: auto;
}

