body {
    background-color: black;
    font-family: 'Times New Roman', Times, serif;
    font-size: 24px;
}

a { 
    color:white;
    text-decoration:none;
}

a:hover {   
    color:black;
    background-color: white;
    border-radius: 100px;
    width: 300px;
    height: 65px;
}

img {   
    width:100%;
}


div.about {
    font-family:Arial, Helvetica, sans-serif;
    font-size:30px;
    color: white;
    display: flex;
    flex-wrap: wrap;
    margin-top: 50px;
    text-align: center;
    width: 1000px;
    height: 200px;
    margin-left:auto;
    margin-right:auto;

}

div.prayer {   
    text-align: center;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 40px;
    color: white;
    width:800px;
    margin-left:auto;
    margin-right:auto;

}

div.enter { 
    display: flex;
    flex-wrap: wrap;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 30px;
    border: 1px solid white;
    border-radius: 300px;
    color: white;
    width: 300px;
    height: 65px;
    margin-bottom: 100px;
    margin-left: 43%;
    margin-top: 50px;
}

div.symbol {  
    margin-bottom: 20px;
    margin-top: 80px;
}

/* Navigation start */

div.prayingright {   
    margin-left:auto;
    width:100px;
    height:100px;
    position:fixed;
    right:0;
    top:50%;
}

div.prayingleft {   
    margin-right:auto;
    width:100px;
    height:100px;
    position:fixed;
    left:0;
    top:50%;
}

div.handsright {    
    margin-right:auto;
    width:100px;
    height:100px;
    position:fixed;
    right:0;
    top:60%;
}

div.handsleft { 
    margin-left:auto;
    width:100px;
    height:100px;
    position:fixed;
    left:0;
    top:60%;
}

div.pointright {    
    margin-right:auto;
    width:100px;
    height:100px;
    position:fixed;
    right:0;
    top:70%;
}

div.pointleft { 
    margin-left:auto;
    width:100px;
    height:100px;
    position:fixed;
    left:0;
    top:70%;
}

/* navigation end */

div.footnotes { 
    display:flex;
    flex-wrap:wrap;
    padding:20px;
    border-top:1px solid black;
    font-family: Arial, Helvetica, sans-serif;

}

div.note { 
    width:33.33%; 
    padding:20px;
    font-size: 16px;
    font-weight: bold;

}

div.title { 
    font-size:144px;
    font-weight:bold;
    letter-spacing:-5px;
    color:gray;
    text-align:center;
    margin-top:100px;
}

div.keywords { 
    font-family:Arial, Helvetica, sans-serif;
    font-size:72px; 
    text-align: center;
}

div.container  {
    display:flex;
    flex-wrap:wrap;  
    align-items:flex-start;  
}

div.item {  
    width:33.33%;
    padding:20px;
}

div.item.pushright {    
    margin-right:33.33%;
}

div.item.larger {   
    width:33.33%;
}

a.button {    
    background-color: black;
    color: white;
    border-radius: 10px;
    padding-left:8px;
    padding-right:8px;
    padding-top:3px;
    padding-bottom:3px;

}

div.number {    
    font-size:72px;
}

div.featureimage {  
    width:30%;
    margin-right:auto;
    margin-left: auto;
}

